.app-donut-chard-card {
  position: relative;
  width: 256px;
  min-height: 152px;
  overflow-x: hidden;
  display: flex;

  border-radius: 12px 30px;
  color: var(--secondary-color);
  background-color: var(--card-bg-color);

  &:hover {
    box-shadow: 0px 40px 70px rgba(var(--secondary-color-code), 0.3);
  }

  &__title {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 88px;

    font-family: 'Gramatica Bold', 'open-sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }

  &__value {
    position: absolute;
    top: 79px;
    left: 47px;
    width: 30px;
    text-align: center;
    line-height: 24px;

    font-family: 'Gramatica Bold', 'open-sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: var(--secondary-color);
  }

  &__legend {
    position: relative;
    top: 0;
    left: -485px;
    z-index: 3;

    min-width: 154px;
    width: 154px;
    height: 100%;
    min-height: 152px;
    
    padding: 10px 26px 8px 16px;
    background-color: rgba(var(--secondary-color-code), 0.05);
    
    &-item {
      display: flex;
      margin-bottom: 6px;

      font-family: 'Sofia pro', 'open-sans';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__marker {
    width: 10px;
    height: 10px;
    min-width: 10px;
    margin-right: 8px;
    border-radius: 50%;
  }
}

/* ####### override css rules for plotify module ###### */

.app-donut-chard-card {
  ::ng-deep {
    .user-select-none .svg-container {
      position: absolute!important;
    }
    
    .pielayer {
      transform: scale(0.6) translateX(-355px) translateY(80px)!important;
    }
    
    .js-plotly-plot .plotly .modebar--hover > :not(.watermark) {
      display: none;
    }
    
    .surface {
      stroke-width: 8!important;
      stroke: var(--card-bg-color)!important;
      
      &:hover {
        cursor: pointer;
        stroke-width: 12px!important;
        stroke-dasharray: 550 0!important;
        opacity: 0.8!important;
        background:linear-gradient(to right, #e5405e 0%, #e5405e 15%, rgba(46,2014,113,0.8) 30%, rgba(39,174,96,0.3)45%,#3fffa2 60%, #1a9be0 73%, #ba68ed 100%)!important;
      }
    }
    
    .slicetext {
      display: none!important;
    }
    
    .main-svg {
      background-color: transparent!important;
    }
  }
}

