.app-select-simple {
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;

  ::ng-deep {
    .ng-select {
      position: relative;
      box-sizing: border-box;
      height: 48px; 
      width: 100%;
    
      background: rgba(var(--secondary-color-code), 0.05);
      border-radius: 8px;
      color: rgba(var(--secondary-color-code), 0.5);
    
      &:hover {
        background: rgba(var(--secondary-color-code), 0.1);
      }
    
      &:after {
        content: url('../../../../../assets/images/select.png');
        position: absolute;
        top: calc(50% - 11px);
        right: 21px;
      }
    
      &.ng-select-opened{
        &:after {
          content: url('../../../../../assets/images/select.png');
          position: absolute;
          top: calc(50% - 11px);
          right: 21px;
          transform: rotate(180deg);
        }
      }
    
      &-container {
        width: 100%;
        height: 46px;
        padding: 15px 21px 15px 16px;
        margin-bottom: 4px;
      }
    }

    .ng-dropdown-panel-items.scroll-host {
      width: 100%;
    }
    
    .ng-option {
      background-color: var(--input-bg-color);
      padding: 17px 21px 15px 16px;  
    
      &:hover {
        background-color: var(--light-btn-hover);
        font-weight: bold;
      }
    }
    
    .ng-dropdown-panel {
      position: absolute;
    }
    
    .scroll-host {
      color: rgba(var(--secondary-color-code), 1);
      position: absolute;
      box-shadow: 0px 30px 70px rgba(46, 45, 79, 0.15);
      border-radius: 8px;
    }
    
    .ng-clear-wrapper {
      display: none;
    }
  }
}
