.app-request-form {
  width: 100%;
  background: var(--text-color);
  box-shadow: 0px 20px 60px rgba(46, 66, 70, 0.2);
  border-radius: 12px;

  font-family: 'Helvetica', 'open-sans';
  font-style: normal;

  &__header {
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: var(--highlited-color-light);
  }

  &__logo {
    width: 100px;
  }

  &__body {
    padding: 22px 32px 0 32px;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--secondary-color);
    margin-bottom: 5px;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 5%;
    line-height: 160%;
    color: rgba(var(--form-request-color), 0.75);
    margin-bottom: 32px;

  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__input-item {
    margin-bottom: 32px;
  }

  &__buttons {
    width: 257px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    margin: 0 auto;
  }
}