<div 
  [id]="data.sectionElementId+data.sectionId" 
  class="app-dynamic-list__container" 
  (click)="setActive()" 
  #dynamicContainer
>
  <div class="app-dynamic-list__title-wrapper">
    <textarea
      autosize
      class="app-dynamic-list__title"
      [(ngModel)]="listTitle"  
      spellcheck="false"
    >
    </textarea>
  </div>
  <ul class="app-dynamic-list" #dynamicList>
    <li 
      class="app-dynamic-list__item" 
      *ngFor="let title of titles; let i = index; trackBy:indexTracker"
      [id]="data.sectionElementId+data.sectionId + i"
    >
      <div class="app-dynamic-list__dot"></div>
      <textarea
        autosize
        class="app-dynamic-list__input" 
        [(ngModel)]="titles[i]" 
        (keypress)="handlePressKey($event, i)"
        spellcheck="false"
      >
      </textarea>
    </li>
  </ul>
</div>
