.app-dynamic-list {
  width: 95%;
  overflow-x: hidden;

  &__input {
    width: 100%;
    padding-right: 15px;

    border: none;
    background-color: transparent;
    color: var(--secondary-color);

    font-style: italic;
    line-height: 150%;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
  }

  &__title {
    width: calc(100% + 35px);
    padding-right: 35px;
    margin-bottom: 18px;
    
    color: var(--secondary-color);
    border: none;
    background-color: transparent;
    text-transform: capitalize;

    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
  }

  &_title-wrapper {
    width: 100%;
    overflow: hidden;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 12px 0;
    margin-right: -15px;
  }

  &__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right: 18px;
  }
}