.simple-policy-generator-button {
  border: none;
  outline: none;
  padding: 13px 65px 10px 65px;
  background: var(--dark-color);
  color: var(--text-color);
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 28.8px;
  letter-spacing: 0.1em;
}