.btn-large {
  position: relative;
  width: 100%;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: var(--transition);
  border-radius: 8px;
  
  color: var(--secondary-color);
  background: transparent;
  border: none;

  display: flex;
  justify-content: center;

  height: 53px;
  padding: 9px 10px;

  &.active {
    background: var(--success-grad-light);
    color: var(--text-color);
  }

  &__text {
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    margin-top: 2px;
  }

  &__title {
    text-transform: uppercase;
    font-family: 'Gramatica Bold', 'open-sans';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background: rgba(var(--secondary-color-code), 0.05);
    border-radius: 8px;
    transition: 0.3s;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background: var(--success-grad-light);
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }

  &:hover {
    &::before {
      background: rgba(var(--secondary-color-code), 0.1);
    }
  }

  &:active {
    color: var(--text-color);
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
}