.app-mutable-gradient-icon-button {
  height: 44px;
  padding: 11px 14px;
  border-radius: 8px;
  border: none;
  background-color: rgba(var(--text-color-code), 0.1);

  &:hover {
    background-color: rgba(var(--text-color-code), 1);
  }

  &:active {
    background-color: rgba(var(--text-color-code), 0.1);
  }

  &__tip {
    display: none;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
  }

  &__container {
    position: relative;
    height: 44px;
    width: fit-content;

    &:hover > .app-mutable-gradient-icon-button__tip {
      display: block;
      width: 212px;
      height: 48px;
      box-sizing: border-box;

      position: absolute;
      right: 0;
      top: -48px;

      background: var(--text-color);
      border: 1px solid var(--info-color-code);
      color: var(--secondary-color);
      box-shadow: 0px 8px 12px rgba(28, 28, 28, 0.2);
      border-radius: 8px;

      line-height: 48px;
      text-align: center;

      &:hover {
        display: none;
      }
    }
  }
}