.app-teams-search {
  position: relative;
  width: 100%;
  
  &::after {
    content: '';
    height: 20px;
    width: 20px;

    position: absolute;
    top: 14px;
    left: 16px;
    
    background: url('../../../../../../assets/images/Search.png') no-repeat center;
    background-size: contain;
    opacity: 0.5;
  }

  &__input {
    width: 100%;
    padding: 15px 16px 16px 53px;
    height: 48px;

    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
  
    border: none;
    border-radius: 8px;
    background: rgba(var(--secondary-color-code), 0.05);
    color: var(--secondary-color);
  
    &::placeholder {
      color: rgba(var(--secondary-color-code), 0.5);
    }
  
    &:hover {
      background: rgba(var(--secondary-color-code), 0.2);
    }
  
    &::placeholder {
      font-weight: 300;
    }
  }
}