.btn-grad {
  background: var(--higlited-grad-light);
  border: none;
  color: var(--text-color);
  
  display: flex;
  align-items: center;

  border-radius: 20px 5px;
  height: 52px;
  padding: 18px 41px 18px 44px;

  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 100%;

  &__img {
    margin-left: 27px;
  }

  &:hover {
    background: var(--highlited-grad-dark);
  }

  &:active {
    background: var(--higlited-grad-light);
  }
}
