<div 
  class="text-area-copy-to-clipboard"
  (mouseenter)="setVisibleButton(true)"
  (mouseleave)="setVisibleButton(false)"
>
  <textarea 
    #textarea
    class="text-area-copy-to-clipboard__textarea" 
    [value]="initialValue"
    rows="10"
    spellcheck="false"
  >
  </textarea>
  <button 
    *ngIf="isButtonVisible"
    class="text-area-copy-to-clipboard__button" 
    type="button" 
    (click)="copyToClipboard(textarea)"
  >
    <svg-icon 
      [src]="'assets/images/copy.svg'"
      [svgStyle]="{ 'stroke': '#24B04B' }"
    >
    </svg-icon>
    Copy code to clipboard
  </button>
</div>
