.btn-info {
  padding: 9px 15px 9px 15px;
  height: 40px;
  display: flex;
  align-items: center;

  border-radius: 8px;
  border: none;
  color: var(--info-color);
  background-color: rgba(var(--info-color-code), 0.05);  
  text-transform: capitalize;
  transition: var(--transition);

  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;

  & > img {
    margin-right: 15px;
  }

  &:hover {
    background-color: rgba(var(--info-color-code), 0.3);  
  }

  &:active {
    background-color: transparent; 
  }
}
