<div class="app-card-row">
  <app-card-with-donut-chart
    [title]="'Cookies by category'"
    [labels]="['in advertisement storage some objects ', 'local storage objects local storage objects', 'in social media', 'in analytics', 'in preferences', 'in presferences', 'iframe' ]"
    [values]="[13, 6, 8, 4, 6, 7, 9]"
  >
  </app-card-with-donut-chart>
  <app-card-with-donut-chart
    [title]="'Cookies by category'"
    [labels]="['in advertisement objects ', 'local storage objects local storage objects', 'in social media', 'in analytics', 'in preferences', 'in preferesnces' ]"
    [values]="[1, 3, 1, 4, 2, 4]"
  >
  </app-card-with-donut-chart>
  <app-semicircle-chart-card
    [title]="'Overall score'"
    [percent]='80'
    [text]="'Remaining recommendations'"
    [value]="5"
  >
  </app-semicircle-chart-card>
  <app-card-with-center-text
    [text]="'Pages scanned'"
    [value]="313"
    [title]="'Pages'"
  >
  </app-card-with-center-text>
</div>
