.text-area-copy-to-clipboard {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--text-color);
  transition: 0.3s;
  border-radius: 12px;
  border: 1px solid rgba(var(--secondary-color-code), 0.3);

  &:hover {
    background-color: rgba(var(--info-color-code), 0.2);
  }

  &__button {
    height: 40px;
    padding: 0 12px 0 16px;

    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 110px);

    display: flex;
    align-items: center;

    background: rgba(var(--info-color-code), 0.3);
    color: var(--info-color);
    border-radius: 8px;
    border: none;
    transition: 0.3s;

    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;

    & > svg-icon {
      margin-right: 13px;
    }

    &:hover {
      background: rgba(var(--info-color-code), 0.4);
    }

    &:active {
      background: rgba(var(--info-color-code), 0.3);
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: calc(100% + 16px);
    padding: 12px 41px 12px 32px;

    color: var(--secondary-color);
    letter-spacing: 0.03em;
    line-height: 150%;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    background-color: transparent;
    border: none;
    border-radius: 12px;
  }
}