.app-text-with-after-gradient-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;

  &__title {
    flex: 0 0 150px;  
    font-family: 'Gramatica Bold', 'open-sans';
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    background: var(--success-grad-light);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__line {
    height: 1px;
    width: 80%;
    background: var(--success-grad-light);
    opacity: 0.1;
  }
}
