.app-round-icon {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: relative;

  &-wrapper {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
  }

  &__text {
    margin-left: 16px;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
  }

  &__regular {
    margin-left: 16px;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
  }

  &__link {
    margin-left: 8px;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
  }

  &__positive {
    background: var(--success-grad-light);

    &:after {
      content: "";
      width: 19px;
      height: 19px;
      position: absolute;
      background: no-repeat center url("../../../../assets/images/checkbox.svg");
    }
  }

  &__negative {
    background: rgba(var(--danger-color-code), 0.2);

    &:after {
      content: "";
      width: 19px;
      height: 19px;
      position: absolute;
      background: no-repeat center url("../../../../assets/images/close.svg");
    }
  }
}