#chartdiv {
  width: 100%;
  height: 100%;
}

.map-chart {
  margin-top: 67px;
  width: 100%;
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;

  &__container {
    width: 100%;
    height: 452px;
    position: relative;
  }
  
  &__input-container {
    width: 280px;
    margin-bottom: 24px;
  }

  &__tips {
    width: 228px;
    position: fixed;
    z-index: 3;
    padding: 12px;

    background-color: rgba(var(--secondary-color-code), 1);
    border-radius: 12px;
    color: var(--asimetric-bg-color);

    &:after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: calc(50% - 4px);
      z-index: 4;

      width: 16px;
      height: 7px;

      background: url('../../../../../../assets/images/triangle.png') center no-repeat;
      background-size: cover;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 8px 0;
    }

    &-text {
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 12px;
    }
    
    &-color {
      display: block;
      width: 6px;
      height: 6px;
      margin-right: 8px;
      border-radius: 50%;
      border: 1px solid rgb(26, 49, 95);
    }

    &-value {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
    }
  }
}

/// overriding styles for am4charts module

.map-chart {
  ::ng-deep {
    #chartdiv > div > svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(3) > g:nth-child(2) > g:nth-child(1) > path,
    #chartdiv > div > svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(3) > g:nth-child(2) > g:nth-child(2) > path,
    #chartdiv > div > svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(3) > g:nth-child(1) {
      display: none;
    }
    
    #chartdiv > div > svg > g > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(1),
    #chartdiv > div > svg > g > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(3) {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

