.app-card {
  width: fit-content;
  padding: 1px;

  background: rgba(var(--secondary-color-code), 0.5);
  border-radius: 12px;
  text-align: center;

  &.active {
    position: relative;
    background: var(--success-grad-light);
      
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 8px;

      width: 19px;
      height: 19px;

      background: var(--success-grad-light);
      border-radius: 50%;
    }

    &:before {
      content: '';
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 2;

      box-sizing: border-box;
      width: 19px;
      height: 19px;
      border-radius: 50%;

      background: no-repeat center url('../../../assets/images/checkbox.svg');
    }
  }

  &:hover {
    cursor: pointer;
    background: var(--success-grad-light);
    box-shadow: 0px 30px 70px rgba(46, 45, 79, 0.15);
  }

  &__title {
    margin-bottom: 6px;
    font-family: 'Gramatica Bold', 'open-sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }

  &__text {
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 100%;
  }

  &__wrapper {
    border-radius: 12px;
    background-color: var(--text-color);
  }

  &__text-wrapper {
    width: 100%;
    word-wrap: break-word;
  }

  &__container {
    width: 130px;
    padding: 22px 15px 28px;

    border-radius: 12px;
    background-color: rgba(var(--text-color-code), 0.15);
    color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    align-items: center;

      & > img {
        margin-bottom: 20px;
        width: 44px;
        height: 50px;
      }
    }
  }

@media screen and (max-width: 600px) {
  .app-card {
    width: 100%;

    &.active {

      &::after {
        top: 12px;
        left: 58px;
      }
    }

    &__wrapper  {
      width: 100%;
    } 

    &__container {
      flex-direction: row;
      padding: 13px 15px;
      width: 100%;

      & > img {
        margin-right: 50px;
        margin-bottom: 0;
        width: 55px;
        height: 62px;
      }
    }

    &__text-wrapper {
      text-align: center;
      width: 50%;
    }
  }
}