.app-billing-primary-button {
  border-radius: 8px;
  height: 46px;
  position: relative;
  z-index: 2;
  width: 100%;

  background: transparent;
  border: none;
  color: var(--text-color);
  text-transform: uppercase;

  padding: 17px 20px;
  font-family: 'Gramatica Bold', 'open-sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background: var(--success-grad-light);
    border-radius: 8px;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background: var(--success-grad-dark);
    border-radius: 8px;
    opacity: 0;
  }
  
  &:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
  
  &:active {
    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 0;
    }
  }
}

