.app-plan-builder-primary-button {
  width: 100%;
  height: 48px;
  
  background: linear-gradient(269.4deg, #FB5F47 38.27%, #F9BE5A 113.07%);
  border-radius: 5px 20px;
  border: none;
  outline: none;

  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 48px;
  color: var(--text-color);
  text-transform: uppercase;

  &:hover {
    background: linear-gradient(269.4deg, #D54832 38.27%, #EBB252 113.07%);
  }
}