.app-dynamic-text {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 16px;

  &__input {
    width: 100%;
    padding-right: 15px;
    border: none;
    background-color: transparent;

    color: var(--secondary-color);
    line-height: 150%;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
  }

  &__wrapper {
    margin-right: -15px;
  }
}