<div class="app-status-bar">
  <app-light-assimetric-button
    [srcPath]="'assets/images/back.svg'" 
    (click)="moveToPrevious()"
  >
  </app-light-assimetric-button>
  <div class="app-status-bar__wrapper">
    <app-status-steps-dynamic
      [activePoints]="activePoints"
      [totalNumber]="6"
      titles=""
    >
    </app-status-steps-dynamic>
  </div>
  <app-simple-button
    [title]="'next'"
    [classes]="'btn-success-asimetric'"
    [srcPath]="'assets/images/next.svg'"
    (click)="moveToNext()"
  >
  </app-simple-button>
</div>
