<div class="app-cookie-design-card__wrapper" [style.padding]="isSelected ? '2px' : '0'">
  <div class="app-cookie-design-card__selected" *ngIf="isSelected"></div>
  <div class="app-cookie-design-card" [style.background]="imgSrc ? 'rgba(209, 209, 209);' : '#D0DAEB'">
      <div class="app-cookie-design-card__custom" *ngIf="!imgSrc">
        <img src="assets/images/cookie-banner/plus.svg">
        <p>Add your own CSS</p>
      </div>
      <img *ngIf="imgSrc" class="app-cookie-design-card__image" [src]="imgSrc" alt="">
  </div>
</div>
