.app-checkbox-input-dark {
  display: none;

  &__title {
    margin-left: 40px;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 24px;
  }

  &__label {
    display: block;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;

      box-sizing: border-box;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      border: 1px solid rgba(var(--secondary-color-code), 0.3);
    }
  }
}

.app-checkbox-input-dark:checked + .app-checkbox-input-dark__label {
  &:after {
    background-color: var(--secondary-color);
  }

  &:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 2;

    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background: center no-repeat url('../../../../../assets/images/checkbox.svg');
    background-size: contain;
  }
}

