.app-onboarding-card {
  display: grid;
  grid-template-columns: 1fr 334px;
  grid-column-gap: 10px;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
  min-height: 72px;

  background: transparent;
  border: 1px solid rgba(var(--secondary-color-code), 0.15);
  border-radius: 12px;
  color: var(--secondary-color);

  &.mobile {
    grid-template-columns: 1fr 18px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    ::ng-deep {
      app-mutable-primary-button {
        margin-right: 16px;
      }
      
      app-mutable-gradient-icon-button {
        margin-right: 14px;
      }
    }
  }

  &__text-box {
    display: flex;
    margin-left: 26px;
  }

  &:hover {
    cursor: pointer;
    background: var(--success-grad-light);
    color: var(--text-color);
  }

  &__title {
    margin-right: 16px;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
  }

  &__text {
    opacity: 0.6;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 100%;
  }

  &__mobile-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;

    position: absolute;
    right: 0;
    top: calc(100% + 2px);
    z-index: 2;

    background-color: rgba(var(--text-color-code), 1);
    border: 1px solid rgba(var(--secondary-color-code), 0.15);
    border-radius: 12px;
  }

  &__mobile-button {
    padding: 5px;
    border: none;
    background-color: transparent;
    color: rgba(var(--secondary-color-code), 0.7);

    font-family: 'Gramatica Bold', 'open-sans';
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 100%;

    &:active {
      background: var(--success-grad-light);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__toggler {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
  }
}