<div class="app-billing-card__wrapper">
  <div class="app-billing-card">
    <div class="app-billing-card__top">
      <p class="app-billing-card__title">United</p>
      <p class="app-billing-card__currency">$</p>
    </div>
    <p class="app-billing-card__number">**** {{ lastNumbers }}</p>
  </div>
  <div class="separator"></div>
  <div class="app-billing-card__details">
    <div class="app-billing-card__detail">
      <p class="app-billing-card__detail-title">Mastercard</p>
      <p>{{ lastNumbers }}</p>
    </div>
    <div class="app-billing-card__detail">
      <p class="app-billing-card__detail-title">Exp date</p>
      <p>{{ date }}</p>
    </div>
    <div class="app-billing-card__detail">
      <p class="app-billing-card__detail-title">Card holder</p>
      <p>{{ name }}</p>
    </div>
  </div>
</div>
