.card-with-columns-text  {
  width: 256px;
  min-height: 152px;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;

  border-radius: 12px 30px;
  color: var(--secondary-color);
  background-color: var(--card-bg-color);

  &:hover {
    box-shadow: 0px 40px 70px rgba(var(--secondary-color-code), 0.3);
  }

  &__container {
    display: flex;
    align-items: flex-start;
  }

  &__left {
    width: 47%;
    margin-right: 16px;
  }

  &__right {
    width: 50%;
  }

  &__value {
    margin-bottom: 6px;
    font-family: 'Gramatica Bold', 'open-sans';
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: var(--secondary-color);
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'Gramatica Bold', 'open-sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }

  &__text {
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
  }
}