<div class="card-with-columns-text card">
  <p class="card-with-columns-text__title">{{ title }}</p>
  <div class="card-with-columns-text__container">
    <div class="card-with-columns-text__left">
      <span class="card-with-columns-text__value">{{ values[0] }}</span>
      <p class="card-with-columns-text__text">{{ texts[0] }}</p>
    </div>
    <div class="card-with-columns-text__right">
      <span class="card-with-columns-text__value">{{ values[1] }}</span>
      <p class="card-with-columns-text__text">{{ texts[1] }}</p>
    </div>
  </div>
</div>
