<!-- !!!!!!!!!mobile version of table!!!!!!!!!!!!  -->
<table 
  id="table" 
  *ngIf="isMobile" 
  class="app-transparent-table"
>
  <tr class="app-transparent-table__head">
   <th class="app-transparent-table__head-item app-transparent-table__main-column">
     {{ mainColumn }}
   </th>
   <th  class="app-transparent-table__head-item">
     {{ activeColumn }}
   </th>
  </tr>
  <tr 
    class="app-transparent-table__row" 
    *ngFor="let item of data; let i = index"
  >
    <td>
      <p *ngIf="checkType(item[mainColumn])==='string'">
        {{ item[mainColumn] }}
      </p>
      <app-text-with-gradient-back 
        [titles]="item[mainColumn].data"
        *ngIf="checkType(item[mainColumn])==='gradientText'"
      >
      </app-text-with-gradient-back>
      <img [src]="item[mainColumn].path" *ngIf="checkType(item[mainColumn])==='image'">
      <span *ngIf="checkType(item[mainColumn])==='boolean'">
        <app-round-icon
          [classes]="item[mainColumn] ? 'app-round-icon app-round-icon__positive' : 'app-round-icon app-round-icon__negative'"
          [ngStyle]="{'display': 'flex', 'justify-content': 'center'}"
        ></app-round-icon>
      </span>
    </td>
    <td>
      <p *ngIf="checkType(item[activeColumn])==='string'">
        {{ item[activeColumn] }}
      </p>
      <img [src]="item[activeColumn].path" *ngIf="checkType(item[activeColumn])==='image'" >
      <app-text-with-gradient-back 
        [titles]="item[activeColumn].data"
        *ngIf="checkType(item[activeColumn])==='gradientText'"
      >
      </app-text-with-gradient-back>
      <span *ngIf="checkType(item[activeColumn])==='boolean'">
        <app-round-icon
          [classes]="item[activeColumn] ? 'app-round-icon app-round-icon__positive' : 'app-round-icon app-round-icon__negative'"
        ></app-round-icon>
      </span>
    </td>
  </tr>
  <button class="prev app-transparent-table__button" type="button" (click)="showNext('back')"></button>
  <button class="next app-transparent-table__button"type="button" (click)="showNext('forward')"></button>
</table> 


<!-- !!!!!!!!!desktop version of table!!!!!!!!!!!!  -->
<table id="table" class="app-transparent-table"  *ngIf="!isMobile">
  <tr class="app-transparent-table__head">
   <th 
      class="app-transparent-table__head-item"
      *ngFor="let head of heads; let i = index"
    >
     {{ head }}
   </th>
  </tr>
  <tr class="app-transparent-table__row" *ngFor="let item of data; let i = index">
    <td *ngFor="let head of heads; let j = index">
      <p *ngIf="checkType(item[head])==='string'">
        {{ item[head] }}
      </p>
      <app-text-with-gradient-back 
        [titles]="item[head].data"
        *ngIf="checkType(item[head])==='gradientText'"
      >
      </app-text-with-gradient-back>
      <img [src]="item[head].path" *ngIf="checkType(item[head])==='image'">
      <span *ngIf="checkType(item[head])=='boolean'">
        <app-round-icon
          [classes]="item[head] ? 'app-round-icon app-round-icon__positive' : 'app-round-icon app-round-icon__negative'"
          [ngStyle]="{'display': 'flex', 'justify-content': 'center'}"
        ></app-round-icon>
      </span>
    </td>
  </tr>
</table>