.app-form-screen-second {
  &__main-title {
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: var(--secondary-color);
    margin-bottom: 22px;
  }

  &__text {
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: rgba(var(--secondary-color-code), 0.75);
    line-height: 100%;
    margin-bottom: 40px;
  }
}
