.app-request-text-input {
  width: 100%;
  padding: 17px 19px;
  color: var(--secondary-color);
  letter-spacing: 0.03em;
  background: var(--text-color);
  border: 1px solid rgba(var(--secondary-color-code), 0.3);
  border-radius: 12px;

  font-family: 'Helvetica', 'open-sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}