.app-main-navigation-menu {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 20px;

    ::ng-deep {
      .nav-link-secondary {
        text-transform: capitalize!important;
      }
    }
  }
}