.app-cookie-reload-button {
  width: 29px;
  height: 29px;
  padding: 7px;

  border: none;
  outline: none;
  background: var(--asimetric-bg-color);
  border-radius: 4px;
  transition: var(--transition);

  &:hover {
    background: rgba(var(--secondary-color-code), 0.4);
  }

  &:active {
    background: var(--asimetric-bg-color);
  }

  &__image {
    width: 15px;
    height: 14px;
  }
}