<div
  [ngClass]="{ 'app-teams-card': true, 'mobile': isMobile }"
  (mouseenter)="setOnActive($event, true)"
  (mouseleave)="setOnActive($event, false)"
  [style.background]="cardColor"
  [style.padding]="isSmallMobile ? '5px' : '15px 24px 13px'"
  #block
>
  <div class="app-teams-card__tips" *ngIf="!isMobile && isTipsVisible">
    <app-teams-tips [title]="tip.title" [text]="tip.text"></app-teams-tips>
  </div>
  <div 
    class="app-teams-card__wrapper"
    [ngStyle]="isMobile && { 'width': 'fit-content' }"
  >
    <app-teams-checkbox-mutable-gradient
      [onActive]="checkCheckboxStyle()"
      [isChecked]="isSelected"
      [id]="id"
      (handleChange)="select.emit($event)"
    >
    </app-teams-checkbox-mutable-gradient>
    <div class="app-teams-card__text-box"
      [style.flexDirection] = "isMobile ? 'column' : 'row'"
      [style.marginLeft] = "isSmallMobile ? '10px' : '26px'"
      [style.alignItems] = "isMobile ? 'flex-start' : 'center'"
    >
      <p 
        [style.color] = "textColor"
        [style.fontSize] = "isSmallMobile ? '12px' : '16px'"
        class="app-teams-card__name"
      >
        {{ name }}
      </p>
      <p 
        [style.color] = "textColor"
        [style.fontSize] = "isSmallMobile ? '12px' : '16px'"
        class="app-teams-card__text"
      >
        {{ email }}
      </p>
    </div>
  </div>
  <p 
    [style.color] = "textColor"
    [style.fontSize] = "isSmallMobile ? '12px' : '16px'"
    (mouseenter)="setTipsVisibility($event, true)"
    (mouseleave)="setTipsVisibility($event, false)"
    class="app-teams-card__position"
  >
    {{ position }}
  </p>
  <div class="app-ondoarding-card__wrapper" *ngIf="isMobile">
    <button 
      type="button"
      class="app-teams-card__toggler"
      (click)="setIsVisibleOptions()"
    >
      <svg-icon 
        [src]="'assets/images/menu/Options.svg'"
        [svgStyle]="{ 'fill': '#011949' }"
      >
      </svg-icon>
    </button>
    <div class="app-teams-card__mobile-box" *ngIf="isVisibleOptions">
      <button 
        class="app-teams-card__mobile-button" 
        type="button"
        (click)="handleEdit()"
      >
        Edit
      </button>
      <button 
        class="app-teams-card__mobile-button" 
        type="button"
        (click)="handleDuplicate()"
      > 
        Copy
      </button>
      <button 
        class="app-teams-card__mobile-button" 
        type="button"
        (click)="handleDelete()"
      >
        Delete
      </button>
    </div>
  </div>
  <div class="app-teams-card__wrapper-button" *ngIf="!isMobile" [style.opacity]="(!isMobile && (onActive || isSelected)) ? '1' : '0'">
    <app-teams-mutable-primary-button [title]="'edit'" (click)="handleEdit()"></app-teams-mutable-primary-button>
    <app-teams-mutable-gradient-icon-button [svgPath]="'assets/images/copy.svg'" (click)="handleDuplicate()"></app-teams-mutable-gradient-icon-button>
    <teams-app-mutable-danger-button [svgPath]="'assets/images/basket.svg'" (click)="handleDelete()"></teams-app-mutable-danger-button>
  </div>
</div>



