.card-reports {
  width: 188px;
  padding: 16px 16px 11px;
  border-radius: 12px;
  color: var(--secondary-color);

  &__title {
    margin-bottom: 2px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 130%;

    font-family: 'Gramatica Bold', 'open-sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }

  &__text {
    line-height: 110%;
    margin-bottom: 7px;

    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    border-top: 0.580318px solid rgba(var(--secondary-color-code), 0.1);
  }

  &__img {
    width: 20px;
    height: 20px;
  }

  &__value {
    opacity: 0.75;

    font-family: 'Gramatica Bold', 'open-sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: var(--secondary-color);
  }
}