<div class="app-steps">
  <div [ngClass]="classes[0]">
    <div class="app-steps__dot"></div>
    <div class="app-steps__label text-al-left">Add your information</div>
  </div>
  <div [ngClass]="classes[1]"></div>
  <div [ngClass]="classes[2]">
    <div class="app-steps__dot"></div>
    <div class="app-steps__label text-al-center">Add domain</div>
  </div>
  <div [ngClass]="classes[3]"></div>
  <div [ngClass]="classes[4]">
    <div class="app-steps__dot"></div>
    <div class="app-steps__label text-al-right">Select coverage</div>
  </div>
</div>
