.btn-secondary {
  height: 46px;
  padding: 13px 15px 12px 15px;
  display: flex;
  align-items: center;

  background: rgba(var(--secondary-color-code),0.05);
  color: var(--secondary-color);
  border: none;
  border-radius: 8px;

  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  transition: var(--transition);

  &__title {
    margin-left: 20px;
  }

  &:hover {
    background: rgba(var(--secondary-color-code),0.2);
  }

  &:active {
    background: rgba(var(--secondary-color-code),0.7);
    color: var(--text-color);
  }
}