.app-button-light-assimetric {
  padding: 14px 20px;
  background: var(--asimetric-bg-color);
  border-radius: 20px 5px;
  border: none;
  transition: 0.3s;

  &:hover {
    background-color: var(--asimetric-bg-color-dark);
  }

  &:active {
    background-color: var(--secondary-color-dark);
  }
}