.app-plan-builder-domains-select {
  padding: 32px;
  background-color: var(--text-color);
  box-shadow: 0px 30px 70px rgba(46, 45, 79, 0.15);
  border-radius: 20px;

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__text {
    max-width: 416px;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    color: var(--secondary-color);
  }

  &__price {
    background: var(--status-bar-bg-color);
    border-radius: 8px;
    padding: 10px 35px;

    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: var(--secondary-color);

    & > span {
      font-weight: 800;
    }
  }

  &__discount {
    width: 100%;
    font-size: 14px;
    opacity: 0.75;
  }
}