<div class="approve-modal" (click)="handleClick($event)">
  <div class="approve-modal__form">
    <button 
      type="button" 
      class="approve-modal__close" 
      (click)="handleClose()"
    >
      <img src="assets/images/deleteX.png" alt="delete">
    </button>
    <p class="approve-modal__title">{{ title }}</p>
    <ng-content></ng-content>
    <div class="approve-modal__buttons">
      <app-simple-button 
        *ngIf="primaryButtonTitle!==''" 
        [classes]="'btn-success-big'"
        [title]="primaryButtonTitle"
        (click)="primaryButtonFunction.emit()"
      >
      </app-simple-button>
      <app-simple-button
        *ngIf="dangerButtonTitle!==''" 
        [classes]="'btn-danger-big'"
        [title]="dangerButtonTitle"
        (click)="dangerButtonFunction.emit()"
      >
      </app-simple-button>
    </div>
  </div>
</div>
