<div 
  [style.backgroundColor]="backgroundColor"
  class="icons-container"
>
  <div class="icons-container-box">
    <img src="assets/images/companies/logo1.png" alt="company logo">
    <img src="assets/images/companies/logo2.png" alt="company logo">
    <img src="assets/images/companies/logo3.png" alt="company logo">
  </div>
  <div class="icons-container-box">
    <img src="assets/images/companies/logo4.png" alt="company logo">
    <img src="assets/images/companies/logo5.png" alt="company logo">
    <img src="assets/images/companies/logo6.png" alt="company logo">
  </div>
</div>
