.app-dynamic-table {
  position: relative;
  width: 100%;
  padding-bottom: 70px;
  overflow: hidden;
  
  border-radius: 12px;
  color: var(--secondary-color);
  border: 1px solid rgba(var(--secondary-color-code), 0.3);
  border-spacing: 0;
  transition: margin 3s;

  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  &__head-input {
    width: calc(100% + 84px);
    padding-right: 84px;

    background: transparent;
    border: none;

    color: rgba(var(--secondary-color-code), 0.75);
    text-transform: capitalize;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }

  &__ceil-input {
    width: calc(100% + 84px);
    padding-right: 84px;

    background: transparent;
    border: none;

    text-transform: capitalize;
    color: rgba(var(--secondary-color-code), 1);
    font-weight: 300;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-size: 12px;
  }

  &__add-row-button {
    width: calc(100% - 32px);
    height: 38px;
    position: absolute;
    margin: 16px 16px 16px;
  }

  &__add-column-button {
    position: absolute;
    right: 22px;
    top: 7px;
  }

  &__head {
    height: auto;
    padding: 13px 106px 13px 16px;
    box-sizing: border-box;
    position: relative;
    
    text-transform: capitalize;
    color: rgba(var(--secondary-color-code), 0.75);
    background-color: rgba(var(--secondary-color-code), 0.2);
  }

  &__head-item {
    margin-left: 80px;
    overflow: hidden;
  }

  &__row-item {
    margin-left: 80px;
    overflow: hidden;
  }

  &__row {
    margin-bottom: 20px;
    padding: 13px 16px;
    font-family: 'Sofia pro', 'open-sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
  }

  &__button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 7px;
    z-index: 2;

    border-radius: 50%;
    background-color: rgba(var(--secondary-color-code), 1);
    border: none;
  }
}

.prev {
  left: 42%;
  transform: rotate(180deg);

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 1px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: center no-repeat url('../../../../../assets/images/next.svg');
  }
}

.next {
  right: 65px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: center no-repeat url('../../../../../assets/images/next.svg');
  }
}

td {
  padding: 16px 16px 0;
  text-align: left;
}

th {
  padding: 12px 16px 13px 16px;
  text-align: left;
}

th:last-child {
  padding: 12px 76px 13px 16px;
}