<div class="app-dynamic-table__container" (click)="setIsActive()">
  <!-- !!!!!!!!!mobile version of table!!!!!!!!!!!!  -->
  <table 
    #table
    id="table" 
    *ngIf="isMobile" 
    class="app-dynamic-table"
  >
    <div class="app-dynamic-table__add-column-button">
      <app-dark-add-button (click)="addColumn()"></app-dark-add-button>
    </div>
    <tr class="app-dynamic-table__head">
     <th class="app-dynamic-table__head-item app-transparent-table__main-column">
      <textarea
        autosize
        class="app-dynamic-table__head-input" 
        [value]="mainColumn"
        (change)="editHead($event, mainColumn)"
        spellcheck="false"
      >
      </textarea>
     </th>
     <th  class="app-dynamic-table__head-item">
      <textarea
        autosize
        class="app-dynamic-table__head-input" 
        [value]="activeColumn"
        (change)="editHead($event, activeColumn)"
        spellcheck="false"
      >
      </textarea>
     </th>
    </tr>
    <tr 
      class="app-dynamic-table__row"
      *ngFor="let item of tableData; let i = index"
    >
      <td class="app-dynamic-table__row-item">
        <textarea
          autosize
          class="app-dynamic-table__ceil-input" 
          [value]="item[mainColumn]"
          (change)="editCeil($event, i, mainColumn)"
          spellcheck="false"
        >
        </textarea>
      </td>
      <td class="app-dynamic-table__row-item">
        <textarea
          autosize
          class="app-dynamic-table__ceil-input" 
          [value]="item[activeColumn]"
          (change)="editCeil($event, i, activeColumn)"
          spellcheck="false"
        >
        </textarea>
      </td>
    </tr>
    <button class="prev app-dynamic-table__button" type="button" (click)="showNext('back')"></button>
    <button class="next app-dynamic-table__button"type="button" (click)="showNext('forward')"></button>
    <div class="app-dynamic-table__add-row-button">
      <app-small-light-add-button
        (click)="addRow()"
        [title]="'Add row'"
        [classes]="'app-big-light-add-button'"
      ></app-small-light-add-button>
    </div>
  </table> 
  
  <!-- !!!!!!!!!desktop version of table!!!!!!!!!!!!  -->
  <table #table class="app-dynamic-table" *ngIf="!isMobile" >
    <div class="app-dynamic-table__add-column-button">
      <app-dark-add-button (click)="addColumn()"></app-dark-add-button>
    </div>
    <tr class="app-dynamic-table__head">
      <th class="app-dynamic-table__head-item" *ngFor="let head of heads; let i = index">
        <textarea
          autosize
          class="app-dynamic-table__head-input" 
          [value]="head"
          (change)="editHead($event, head)"
          spellcheck="false"
        >
        </textarea>
      </th>
    </tr>
    <tr class="app-dynamic-table__row" *ngFor="let item of tableData; let i = index">
      <td *ngFor="let head of heads; let j = index" class="app-dynamic-table__row-item">
        <textarea
          autosize
          class="app-dynamic-table__ceil-input" 
          [value]="item[head]"
          (change)="editCeil($event, i, head)"
          spellcheck="false"
        >
        </textarea>
      </td>
    </tr>
    <div class="app-dynamic-table__add-row-button">
      <app-small-light-add-button
        (click)="addRow()"
        [title]="'Add row'"
        [classes]="'app-big-light-add-button'"
      ></app-small-light-add-button>
    </div>
  </table>
</div>

